* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}