version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: market_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: deep_vlaue
      POSTGRES_DB: marketdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspaces/market_data_pipeline
    command: sleep infinity
    depends_on:
      - postgres

volumes:
  pgdata: